<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Détails du participant</title>
</head>
<body>
    <h1>Détails du participant {{ participant.prenom_participant }} {{ participant.nom_participant }}</h1>

    <p>Prénom : {{ participant.prenom_participant }}</p>
    <p>Nom : {{ participant.nom_participant }}</p>
    <p>Catégories dans lesquelles le participant se trouve :</p>
    <ul>
        {% for categorie in participant.categories.all %}
            <li>{{ categorie.nom_categorie }}</li>
        {% endfor %}
    </ul>
<p><a href="{% url 'particpants:liste_participants' %}">Retour à la liste des participants</a></p>
</body>
</html>
