<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accueil de la course TIM</title>
</head>
<body>
    <h1>COURSE TIM</h1>
    <h2>Bienvenue sur la page de la course TIM!</h2>
    <p><a href="{% url 'particpants:liste_participants' %}">Consulter la liste des participants</a></p>
    <p><a href="{% url 'admin:index' %}">Je suis administrateur</a></p>
</body>
</html>
