<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulaire d'inscription</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'particpants/styles.css' %}">
</head>
<body>
    <h1>Inscription à la course TIM</h1>
    {% if formValidate == False %}
        <form action="#" method="post">
            {% csrf_token %}
            {# .as_p met les groupes label et input dans des balises p #}
            {{ form.as_p }}
            <button>M'inscrire</button>
        </form>
    {% else %}
        <p>Vous êtes bien inscrit à la course TIM!</p>
    {% endif %}
    <p><a href="{% url 'particpants:index' %}">Retour à l'accueil</a></p>
</body>
</html>
